@font-face {
  font-family: 'Retro Font';
  src: url('../fonts/DigibraRegular-nR93V.otf') format('opentype');
}

.title {
  font-family: 'Retro Font', sans-serif;
}

/* Used in Game Page */
.custom-menu {
  display: flex;
  flex-direction: column;
}

/* Media query for mobile view (horizontal layout) */
@media (max-width: 767px) {
  .custom-menu {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Maximum width for menu buttons on PC view */
.custom-menu .cta-button {
  max-width: 200px;
  width: 100%;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  pointer-events: auto;
}

.modal-content {
  width: 300px;
}

/* Center the content within the container */
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
}

/* CSS for the scrollable container */
.scrollable-container {
  max-height: 500px;  
  overflow-x: hidden;
  overflow-y: scroll;
}

/* Hide the scrollbar */
.scrollable-container::-webkit-scrollbar {
  width: 1.2em; /* width of the scroll bar */
}

/* Hide the scrollbar track */
.scrollable-container::-webkit-scrollbar-track {
  background: transparent;
}

/* Hide the scrollbar thumb */
.scrollable-container::-webkit-scrollbar-thumb {
  background: url('/public/assets/sprites/scrollbar.png');
  background-size: 100% 100%;  
  border: none;
  border-radius: 6px;
}


/* CSS for responsive crafting area layout */
.crafting-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media (min-width: 768px) {
  .crafting-content {
    flex-direction: row;
  }
}

/* CSS for responsive crafting area layout */
.crafting-elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.slot,
.combine-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .slot,
  .combine-image {
    width: auto;
    margin-bottom: 0;
  }
}

.loading-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Add this CSS to your stylesheets */
.minigame-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.minigame-container {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  position: relative;
}

.elements-container {
  display: flex; /* Display elements horizontally */
  overflow-x: auto; /* Add a horizontal scrollbar if elements overflow */
  width: auto; /* Remove the fixed width to fit elements snugly */
  height: 120px; /* Set a fixed height for the container */
}

.element-button {
  background-color: #50e855;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  /* Use flex-grow to make buttons expand and fill available space */
  flex-grow: 1;
  margin: 0; /* Remove margin to eliminate white spaces */
}

.ball {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}

@keyframes moveBall {
  0% {
    left: 0;
  }
  50% {
    left: 100%; /* Move the ball to the right end */
  }
  100% {
    left: 0; /* Move the ball back to the left end */
  }
}
